<div class="d-flex">

  <!-- Barra Lateral -->

  <app-sidebar></app-sidebar>
  
  <!-- Fin Barra Lateral -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta expedita eligendi necessitatibus. Veritatis cupiditate quaerat fugit dicta mollitia. Eius eaque, voluptatum reiciendis alias natus ullam delectus aspernatur corrupti nisi?
      </div>
    </div>
  </div>

</div>